body{
    width: 700px;
    height: 650px;
    margin-left: 300px;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
}
#container1{
    position: absolute;
    top: 0px;
    left: 0px;
}
#container2{
    position: absolute;
    top: 0px;
    right: 0px;
}
#container3{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#container4{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#div1{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-top: 30px;
    color: white;
}

#div2{
    width: 200px;
    height: 200px;
    background-color: purple;
    margin-top: 30px;
    color: white;
}
#div3{
    width: 200px;
    height: 75px;
    background-color: cyan;
    margin-top: 30px;
    color: black;
}
#div31{
    width: 200px;
    height: 75px;
    background-color: greenyellow;
    margin-top: 30px;
    color: black;
}

#div4{
    width: 200px;
    height: 200px;
    font-size: 14px;
    background-color: orange;
    margin-top: 30px;
    color: white;
}
